.project__container {
  width: 750px;
}

.project__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  border-radius: 1rem;
  margin-bottom: var(--mb-3);
}

.project__img {
  width: 295px;
}

.project__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.project__social-icons {
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.project__social-icon {
  font-size: 1.8rem;
  color: var(--title-color);
  margin: var(--mb-1);
  transition: 0.3s;
}

.project__social-icon:hover {
  transform: scale(2);
  color: var(--title-color-dark);
}

.swiper-pagination-bullet {
  background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--title-color) !important;
}

@media screen and (max-width: 992px) {
  .project__container {
    width: initial !important;
  }
  .project__img {
    width: 100% !important;
    height: 200px !important;
  }
  .project__card {
    padding: 1.25rem 1.5rem !important;
  }
}